/* makes body fit to entire page and makes the format side by side */
body{
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: row;
}
/* sets nav size and positions elements inside of the nav */
nav{
    display: flex;
    flex-direction: column;
    width: 15vw;
    height: 100vh;
    background-color: #001244;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0%
}
/* resizes my photo into a circle */
#myPhoto{
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    width: 10vw;
}
/* changes the buttons in the nav to look like they blend in */
.navButton{
    font-size: 150%;
    background-color: #001244;
    border: none;
    color: white;
}
/* changes color of buttons in nav when hovered on */
button:hover{
    background-color: grey;
    /* padding: 5%; */
    border-radius: 15%;
}
/* creates body of the content on each page */
article{
    border: 1px solid black;
    width: 100vw;
    /* background-color: #020611; */
    /* background-color: #020D2C; */
    background-color: #2F2F2F;
}
/* creates the title in each of the content sections */
.title{
    text-align: center;
    font-size: 200%;
}
/* sets all text color to white */
*{
    font-family: 'Times New Roman', Times, serif;
    color:white;
}
/* creates a flexbox container for all of the projects */
.projectFlexbox{
    display: flex;
    flex-direction: row;
    font-size: 150%;
    justify-content: space-evenly;
}
/* sets the proportions of the photo */
.projectPhoto{
    opacity: 1;
    width: 90vw;
}
/* changes opacity of image on hover */
.singleProjectHolder:hover .projectPhoto{
    opacity: .3;
}
/* changes the position of the text, so it's under the images */
.description{
    display: flex;
    position: relative;
    top: -12rem;
    opacity: 0;
    text-align: center;
    align-items: center;
    font-size: 75%;
    display: none;
    
}
/* changes opacity of text so it shows on hover */
.singleProjectHolder:hover .description{
    opacity: 1;
    display: block;
}
/* width of the project images */
.photo{
    border-radius: 10%;
    width: 100%;
}
/* makes it so that the a tags have no underline */
.projectInd{
    text-decoration: none;
}
/* container for single project and puts space between different projects */
.singleProjectHolder{
    margin: .5%;
}