/* makes body fit to entire page and makes the format side by side */
body{
    margin: 0%;
    padding: 0%;
    min-height: 100%;
    /* background-color: #1F1F1F; */
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
/* sets min height of html page */
html{
    min-height: 100%;
}
/* sets nav size and positions elements inside of the nav */
nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 25%;
    background-color: #3C315E;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0%;
    z-index: 6;
}
/* makes nav images invisible */
.navImg{
    display: none;
}
/* formats the footer */
footer{
    display: flex;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 10%;
    flex-direction: column;
    text-align: center;
    background-color: #3C315E;
}
/* changes color of text in buttons */
button{
    color: #1F1F1F;
}
/* resizes my photo into a circle */
.myPhoto{
    border-radius: 50%;
    width: 8%;
    height: auto;
}
/* changes the buttons in the nav to look like they blend in */
.navButton{
    font-size: 150%;
    background-color: #3C315E;
    border: none;
    color: white;
}
/* changes color of buttons in nav when hovered on */
button:hover{
    background-color: grey;
    border-radius: 15%;
}
/* creates body of the content on each page */
article{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #1F1F1F;
    align-items: stretch;
    height: 65%;
}
/* creates the title in each of the content sections */
.title{
    text-align: center;
    font-size: 200%;
}
/* sets all text color to white */
*{
    font-family: 'Times New Roman', Times, serif;
    color:white;
}
/* sets flex direction to row */
.row{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
/* sets flex direction to column */
.col{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
/* centers the text horizontally */
.center{
    text-align: center;
}
/* centers the text vertically */
.centerV{
    align-items: center;
}

/* ---------------------------------------- projects ---------------------------------------- */

/* creates slideshow format */
.slideshow{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
/* changing width of items in slideshow */
.item{
    width: 50%;
    margin: 2%;
}
/* creates a flexbox container for all of the projects */
.projectFlexbox{
    display: flex;
    flex-direction: row;
    font-size: 150%;
    justify-content: space-evenly;
    width: 100%;
    /* set it behind the nav bar on smaller devices */
    z-index: 1;
}
/* sets the proportions of the photo */
.projectPhoto{
    opacity: 1;
    width: 100%;
}
/* changes opacity of image on hover */
.singleProjectHolder:hover .projectPhoto{
    opacity: .3;
}
/* changes the position of the text, so it's under the images */
.description{
    display: flex;
    opacity: 0;
    font-size: 75%;
    /* makes text not appear until on hover is activated */
    display: none;
    text-align: center;
    /* fixes problem of hovering causing block beneath to show by hiding a div under the image */
    position: absolute;
    top: 20%;
}
/* changes opacity of text so it shows on hover */
.singleProjectHolder:hover .description{
    opacity: 1;
    /* makes the text display on hover */
    display: inline;
}
/* width of the project images */
.photo{
    border-radius: 10%;
    width: 100%;
}
/* makes it so that the a tags have no underline */
.projectInd{
    text-decoration: none;
    display: flex;
    align-items: stretch;
}
/* container for single project and puts space between different projects */
.singleProjectHolder{
    margin: .5%;
    width: calc(100%/3);
    position: relative;
}
/* makes title of hover description bigger */
.big{
    font-size: 150%;
    font-weight: bold;
    padding-bottom: 2%;
}

/* ---------------------------------------- resume ---------------------------------------- */

/* creates flexbox for the resume */
.resumeFlex{
    display: flex;
    flex-direction: row;
    width: 75%;
    text-align: center;
    /* border: 1px solid white; */
    /* centers the div */
    margin: auto;
    margin-bottom: 1%;
}
/* creates column */
.resumeCol{
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
    padding: 1%;
    align-items: center;
}
/* creates a row for resume */
.resumeRow{
    display: flex;
    flex-direction: row;
    /* border: 1px solid white; */
    align-items: center;
    justify-content: space-around;
}
/* creates growth for on of the columns */
.grow{
    flex-grow: 3;
}
/* adds the subsections of article */
.resum {
    text-decoration: underline;
    font-size: 150%;
}
/* resize certificate images */
.certificate{
    width: 20vw;
}
/* adds border to specfic elements */
.border{
    border: 1px solid white;
}

/* ---------------------------------------- about page ---------------------------------------- */

/* flexbox for about me page */
.aboutFlex{
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}
/* Creates the about page headers */
.aboutTitle{
    text-decoration: underline;
    text-align: center;
}
/* makes col for the about flexbox and spaces them accordingly */
.colAbout{
    display: flex;
    align-content: space-evenly;
    flex-direction: column;
    height: 80%;
    /* border: 1px solid white; */
    flex-grow: 1;
}
/* modifying each indivisual item's maring */
.aboutItem{
    margin: 3%;
}
/* modifies picture on about page */
.picOfMe{
    border-radius: 50%;
    width: 75%;
}

/* ---------------------------------------- contact page ---------------------------------------- */
/* flexbox for the contact information */
.contactFlex{
    display: flex;
    flex-direction: column;
    text-align: center;
    /* border: 1px solid blue; */
    height: 100%;
    width: 75%;
    margin: auto;
    margin-bottom: 3%;
}
/* bolds the text for contact name */
.contact{
    font-weight: bold;
}
/* resizes contact onfor to same size  */
.info{
    font-size: 150%;
}

/* ---------------------------------------- media query ---------------------------------------- */
/* for the media queries, try changing the flex direction to make it one item per row */
/* changes nav buttons to icons instead of text */
@media (max-width: 690px){
    /* hids nav buttons */
    .navButton{
        display: none;
    }
    /* shows nav buttons */
    .navImg{
        display: block;
        width: 50%;
    }
    /* modifies about page */
    .aboutFlex{
        align-items: center;
    }
    /* resizes my photo */
    .myPhoto{
        width: 15%;
        margin: 2%;
        margin-right: 9%;
    }
}
/* changes about page to be one item per row */
@media (max-width: 575px){
    /* sets about flex to column */
    .aboutFlex{
        flex-direction: column;
    }
    /* modifies picture on about page */
    .picOfMe{
        width: 40%;
    }
    /* changes project flexbox to column */
    .projectFlexbox{
        flex-direction: column;
        align-items: center;
    }
    /* changes the size of the projects */
    .singleProjectHolder{
        width: 75%;
        margin: 2%;
    }
    /* changes resume flexbox to reverse-column */
    .resumeFlex{
        flex-direction: column-reverse;
    }
    /* changes resume row to reverse-column */
    .resumeRow{
        flex-direction: column-reverse;
    }
    /* makes text smaller in contact flexbox */
    .contactFlex{
        font-size: 75%;
    }
    /* makes the resume slideshow row */
    #resumeSmall{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}